* {
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    user-select: none;
}


body,
#app {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}
#app{
    display: grid;
    grid-template-rows: 5rem 1fr;
}