:root {
    --bg-dark-color: #222;
    /* --bg-dark-color: rgb(59, 183, 255); */
    --bg-grey-color: rgb(209, 209, 209);
    --bg-grey-color-2: rgb(196, 196, 196);
    --transparent-grey-color: rgba(255, 255, 255, 0.438);
    --transparent-dark-color: rgba(0, 0, 0, 0.7);
}
* {
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    user-select: none;
}
body,
#app {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-dark-color);
}
#app {
    display: grid;
    grid-template-rows: 5rem 1fr;
}
a {
    color: initial !important;
    text-decoration: none !important;
}
a:hover {
    color: initial !important;
}
